.about {
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  margin-top: 410px;
  position: relative;
}
.about-cont {
  margin-top: 70px;
  padding: 60px 0 0 0;
}

.about-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  padding: 20px 0px;
  border: 5px solid var(--main-green);
  border-radius: 50%;
}

.about-img img {
  width: 90%;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 650px;
  color: white;
  padding: 70px 0 0 0;
}
.about-p {
  margin: 20px 0 0 0;
}
.about-list-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  width: 300px;
}

.about-list-item {
  display: flex;
  padding: 20px 0 0 0;
}

.about-list-item h5 {
  color: var(--main-green);
}
.about-list-item p {
}
.dot {
  padding: 0 10px;
}
.about-btn {
  margin: 45px 0 0 0;
  cursor: pointer;
}
.skills-wrapper {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  width: 330px;
}
.skills-title {
  font-size: 20px;
  font-weight: bold;
  padding: 25px 0;
}
.skills-items {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}
.skill {
  padding: 0 10px;
  color: var(--main-green);
  font-weight: bold;
  transition: all 0.3s;
}
.skill:hover {
  color: #fff;
}

@media screen and (max-width: 998px) {
  .about-text {
    width: 500px;
  }
}

@media screen and (max-width: 558px) {
  .about-img {
    width: 250px;
    padding: 0px;
  }
}
