.about {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0.1), rgba(0, 0, 0, 0.99));
}
.about-cont {
  margin-top: 70px;
  padding: 60px 0 0 0;
}

.about-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  padding: 20px 0px;
}

.about-img img {
  width: 90%;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 650px;
  color: white;
  padding: 70px 0 0 0;
}
.about-p {
  margin: 20px 0 0 0;
}

.about-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
}

.about-list-item {
  display: flex;
  padding: 20px 0 0 0;
}

.about-list-item h5 {
  color: var(--main-green);
}
.about-list-item p {
}
.dot {
  padding: 0 10px;
}
.about-btn {
  margin: 45px 0 0 0;
  cursor: pointer;
}

@media screen and (max-width: 998px) {
  .about-text {
    width: 500px;
  }
}

@media screen and (max-width: 558px) {
  .about-img {
    width: 250px;
    padding: 0px;
  }
}
