.home {
  width: 100%;
  background-image: repeating-linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.95)
    ),
    url("https://wallpaperaccess.com/full/5170170.png");
  background-position: center;
  background-size: cover;
}
.home-cont {
  padding-top: 75px;
}

.home-main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-text {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 80vh;
  justify-content: center;
}

.home-text h3 {
  color: var(--main-white);
}
.home-text h1 {
  border-right: 1px solid var(--main-white);
  font-size: 40px;
  width: 430px;
  padding: 20px 0;
  color: var(--main-green);
  transition: all 0.5s;
}

.home-text h1:hover {
  border-right: 1px solid var(--main-green) !important ;
}
.home-text p {
  color: var(--main-white);
  font-size: 15px;
  margin: 6px 0 0 0;
}

.home-img {
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}
.home-img img {
  width: 100%;
}

.home-btn {
  margin: 40px 0 0 0;
}

.up-btn {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0 0;
  background-color: var(--main-green);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 80%;
  cursor: pointer;
  right: 1%;
  text-decoration: none;
  color: var(--main-white);
}

@media screen and (max-width: 997px) {
  .home-img {
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0 0 0;
  }
  .home-img img {
    width: 70%;
  }
}
