.home {
  width: 100%;
  height: 100vh;
}

.home-inner {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://images.pexels.com/photos/4665064/pexels-photo-4665064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  z-index: 0;
}
.blur {
  filter: blur(5px);
}
.home-cont {
  padding-top: 75px;
}

.home-main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1000000000000;
}

.home-text {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 80vh;
  justify-content: center;
  opacity: 0;
}

.home-text h3 {
  color: var(--main-white);
}
.home-text h1 {
  border-right: 1px solid var(--main-white);
  font-size: 40px;
  width: 470px;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--main-green);
  transition: all 0.4s;
}

.home-text h1:hover {
  border-right: 1px solid var(--main-green) !important ;
}
.home-text p {
  color: var(--main-white);
  font-size: 15px;
  margin: 6px 0 0 0;
}

.home-btn {
  margin: 40px 0 0 0;
}

span {
  transition: all 0.3s;
}
span:hover {
  font-size: 55px;
  padding: 0 5px;
  color: var(--main-white);
}
.o {
  font-size: 55px;
  color: var(--main-white);
}
.green-div {
  width: 100%;
  height: 100%;
  background-color: var(--main-green);
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 20000000000000;
}
.black-div {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-div h1 {
  color: var(--main-green);
  font-size: 50px;
}
.hireme-btn {
  text-decoration: none;
  height: 30px;
  border-radius: 25px;
  padding: 10px 20px;
  color: var(--main-white);
  font-size: 14px;
  font-weight: bold;
  border: 1px solid var(--main-green);
  transition: all 0.3s;
  box-shadow: inset 200px 0 0 0 var(--main-green);
}
.hireme-btn:hover {
  background: transparent;
  color: var(--main-white);
  box-shadow: inset 0px 0 0 0 var(--main-green);
}

@media screen and (max-width: 997px) {
  .home-img {
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0 0 0;
  }
  .home-img img {
    width: 70%;
  }
}

@media screen and (max-width: 1288px) {
  .up-btn {
    display: none;
  }
}

@media screen and (max-width: 549px) {
  .home-text {
    width: 520px;
  }
  .home-img {
    width: 200px;
    background-color: red;
  }
  .home-img img {
    width: 100%;
  }
}

@media screen and (max-width: 501px) {
  .home-text {
    width: 500px;
  }
  .home-text h1 {
    font-size: 28px;
    border: 0;
    padding: 0;
    width: 330px;
  }
}

@media screen and (max-width: 536px) {
  .home-text {
    width: 450px;
  }
}

@media screen and (max-width: 347px) {
  .home-text {
    width: 320px !important;
  }
  .home-text h1 {
    font-size: 24px;
  }
  .home-text p {
    font-size: 14px;
  }
}
