.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  width: 500px;
}

.inputs input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  background-color: var(--main-green);
  color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  padding: 0 8px;
  font-size: 15px;
  font-weight: bold;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.message {
  display: flex;
  padding-top: 15px !important;
  padding-bottom: 150px !important;
  color: var(--main-white);
}
.submit-btn {
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 17px 0;
}
.submit-btn button {
  width: 150px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  background-color: var(--main-green);
  color: var(--main-white);
  margin: 10px 0 0 0;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid var(--main-green);
  transition: all 0.5s;
}

.submit-btn button:hover {
  background-color: var(--main-green);
  background-color: rgb(1, 105, 65);
}
.valid {
  background-color: var(--main-green) !important;
}

.input-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
  background-color: blue;
  color: #fff;
  background-color: rgb(32, 32, 32);
  transition: all 0.3s;
  box-shadow: 0px 5px 5px #000;
  border-radius: 5px;
}
.validation-name {
  width: 3px;
  border-radius: 10px;
  background-color: red;
  opacity: 0;
  height: 38px;
}

.validation-email {
  width: 3px;
  background-color: red;
  opacity: 0;
  height: 38px;
  border-radius: 10px;
}

.validation-text {
  width: 3px;
  border-radius: 10px;
  background-color: red;
  height: 160px;
  opacity: 0;
}
.input-cont:hover > .validation-text {
  opacity: 1;
}

.input-cont:hover > .validation-email {
  opacity: 1;
}
.input-cont:hover > .validation-name {
  opacity: 1;
}
