:root {
  --main-green: rgb(9, 199, 104);
  --main-blue: #161722;
  --main-white: #fff;
}

.navbar {
  width: 100%;
  color: var(--main-green);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -8.5%;
  right: 0;
  left: 0;
  transition: all 0.3s;
  z-index: 100000000;
}
.navbar-green {
  background-color: var(--main-green) !important;
  opacity: 1;
  color: #fff !important;
  height: 50px !important;
  top: -8.5%;
}
.navbar-black {
  background-color: rgb(34, 34, 34) !important;
  box-shadow: 0 0 10px 7px #000;
  opacity: 1;
  color: #fff !important;
  height: 50px !important;
  top: -8.5%;
}

.navbar-content {
  display: flex;
  width: 74rem;
  padding: 15px 0;
  justify-content: space-between;
}

.menu-active {
  color: var(--main-green) !important;
}

.menu-active li a:hover {
  color: #fff !important;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  list-style: none;
}

.navbar-menu li a {
  text-decoration: none;
  margin: 20px;
  color: var(--main-white);
  transition: all 0.3s;
  font-weight: 600;
  font-size: 15px;
}
.navbar-menu li a:hover {
  border-bottom: 2px solid var(--main-white);
}

.icon {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;

  display: none;
}

@media screen and (max-width: 682px) {
  .navbar-menu {
    position: absolute;
    left: -100%;
    top: 77%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    background-color: var(--main-green);
    width: 100%;
    height: 100vh;
    transition: all 0.3s;
  }
  .menu-active {
    left: 0 !important;
  }
  .navbar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar-menu li a {
    font-size: 13px;
    padding: 0 !important;
    margin: 14px !important;
  }
  .active {
    color: var(--main-white) !important;
  }

  .active-menu {
    left: 0% !important;
    display: fixed !important;
  }

  .icon {
    display: block;
  }
}

@media screen and (max-width: 1218px) {
  .navbar-content {
    max-width: 72rem;
  }
}

@media screen and (max-width: 1162px) {
  .navbar-content {
    max-width: 71rem;
  }
}

@media screen and (max-width: 1142px) {
  .navbar-content {
    max-width: 70rem;
  }
}

@media screen and (max-width: 1130px) {
  .navbar-content {
    max-width: 69rem;
  }
}

@media screen and (max-width: 997px) {
  .navbar-content {
    max-width: 60rem;
  }
}

@media screen and (max-width: 662px) {
  .navbar-content {
    max-width: 40rem;
  }
}

@media screen and (max-width: 646px) {
  .navbar-content {
    max-width: 38rem;
  }
}

@media screen and (max-width: 618px) {
  .navbar-content {
    max-width: 37rem;
  }
}
@media screen and (max-width: 602px) {
  .navbar-content {
    max-width: 36rem;
  }
}

@media screen and (max-width: 586px) {
  .navbar-content {
    max-width: 36rem;
  }
}

@media screen and (max-width: 578px) {
  .navbar-content {
    max-width: 35rem;
  }
}

@media screen and (max-width: 570px) {
  .navbar-content {
    max-width: 40rem;
  }
}

@media screen and (max-width: 542px) {
  .navbar-content {
    max-width: 32rem;
  }
}

@media screen and (max-width: 526px) {
  .navbar-content {
    max-width: 31rem;
  }
}

@media screen and (max-width: 510px) {
  .navbar-content {
    max-width: 30rem;
  }
}
@media screen and (max-width: 495px) {
  .navbar-content {
    max-width: 29rem;
  }
}
@media screen and (max-width: 477px) {
  .navbar-content {
    max-width: 28rem;
  }
}

@media screen and (max-width: 457px) {
  .navbar-content {
    max-width: 27rem;
  }
}

@media screen and (max-width: 441px) {
  .navbar-content {
    max-width: 26rem;
  }
}

@media screen and (max-width: 431px) {
  .navbar-content {
    max-width: 26rem;
  }
}

@media screen and (max-width: 425px) {
  .navbar-content {
    max-width: 25rem;
  }
}

@media screen and (max-width: 411px) {
  .navbar-content {
    max-width: 24rem;
  }
}

@media screen and (max-width: 397px) {
  .navbar-content {
    max-width: 23rem;
  }
}

@media screen and (max-width: 383px) {
  .navbar-content {
    max-width: 22rem;
  }
}

@media screen and (max-width: 367px) {
  .navbar-content {
    max-width: 21rem;
  }
}
