:root {
  --main-green: rgb(9, 199, 104);
  --main-white: #fff;
}

.navbar {
  width: 100%;
  padding: 15px 84px;
  color: var(--main-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  right: 0;
  left: 0;
  transition: all 0.3s;
  background-color: rgb(2, 75, 30);

  z-index: 10000;
}
.navbar-active {
  background-color: #000 !important;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  list-style: none;
}

.navbar-menu li a {
  text-decoration: none;
  margin: 20px;
  color: var(--main-white);
  transition: all 0.3s;
  font-weight: 600;
  font-size: 15px;
}
.navbar-menu li a:hover {
  color: var(--main-green);
  border-bottom: 2px solid var(--main-white);
}

.icon {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;

  display: none;
}

@media screen and (max-width: 682px) {
  .navbar-menu {
    position: absolute;
    top: 10%;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-green);
    width: 100%;
    transition: all 0.3s;
  }
  .navbar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar-menu li a {
    font-size: 13px;
    padding: 0 !important;
    margin: 14px !important;
  }
  .active {
    color: var(--main-white) !important;
  }

  .active-menu {
    left: 0% !important;
    display: fixed !important;
  }

  .icon {
    display: block;
  }
}
