.skills-outer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: relative;
}

.skills {
  width: 100%;
  background: var(--main-green);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
}

.skills-cont {
  padding: 50px 0;
}

.skills-content-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 50px;
}

.skills-header h1 {
  color: var(--main-white);
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--main-white);
}
.skills-icon {
  font-size: 100px;
  color: var(--main-green);
  transition: all 0.5s;
}

.js {
  font-size: 90px;
  margin: 10px;
}
.xd {
  font-size: 110px;
  margin: 10px;
}
.redux {
  font-size: 100px;
  margin: 10px;
}

.skills-list-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-card {
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 190px;
  height: 190px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #222222;
  box-shadow: 5px 5px 5px #000;
  transition: all 0.5s !important;
}
.skill-title {
  color: var(--main-green);
  font-size: 18px;
}

.skills-card:hover {
  margin: 20px;
  border-radius: 0 0 0 50%;
  background: linear-gradient(rgb(11, 197, 104), rgb(11, 177, 86));
}

.skills-card:hover > .js {
  color: yellow;
  background-color: #000;
}
.skills-card:hover > .sass {
  color: pink;
}
.skills-card:hover > .css {
  color: blue;
}

.skills-card:hover > .html {
  color: orangered;
}

.skills-card:hover > .react {
  color: rgb(3, 160, 250);
}
.skills-card:hover > .git {
  color: orangered;
}

.skills-card:hover > .figma,
.skills-card:hover > .redux {
  color: purple;
}
.skills-card:hover > .xd {
  color: #461934;
  background-color: #f37df0;
  border-radius: 40px;
}

.skills-card:hover > .skill-title {
  color: #000;
}
.skills-card:hover > .router {
  color: red;
}
