.skills {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("https://wallpaperaccess.com/full/5170170.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.skills-cont {
  padding: 50px 0;
}

.skills-content-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 50px;
}

.skills-header h1 {
  color: var(--main-green);
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--main-green);
}
.skills-icon {
  font-size: 140px;
  color: var(--main-green);
  transition: all 0.5s;
}

.js {
  font-size: 115px;
  margin: 10px;
}
.xd {
  font-size: 120px;
  margin: 10px;
}

.skills-list-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-card {
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 220px;
  height: 210px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #222222;
  box-shadow: 5px 5px 5px #000;
  transition: all 0.5s !important;
}
.skill-title {
  color: var(--main-green);
  font-size: 18px;
}

.skills-card:hover {
  margin: 20px;
  border-radius: 0 0 0 50%;
  background: linear-gradient(rgb(11, 197, 104), rgb(11, 177, 86));
}

.skills-card:hover > .js {
  color: yellow;
  background-color: #000;
}
.skills-card:hover > .sass {
  color: pink;
}
.skills-card:hover > .css {
  color: blue;
}

.skills-card:hover > .html {
  color: orangered;
}

.skills-card:hover > .react {
  color: rgb(3, 160, 250);
}
.skills-card:hover > .git {
  color: orangered;
}

.skills-card:hover > .figma {
  color: purple;
}
.skills-card:hover > .xd {
  color: #461934;
  background-color: #f37df0;
  border-radius: 40px;
}

.skills-card:hover > .skill-title {
  color: #000;
}
