.App {
  background-color: var(--main-green);
}
.up-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(6, 114, 51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  top: 80%;
  cursor: pointer;
  right: 1%;
  text-decoration: none;
  color: var(--main-green);
  font-size: 29px;
  display: none;
  z-index: 20000000000;
}
.icon {
  width: 30px;
  color: #fff;
  animation: iconMove 1s ease-out forwards infinite;
}
.up-btn:hover {
  background-color: var(--main-green);
}

.up-btn-active {
  display: block;
}

@keyframes iconMove {
  0% {
    margin-bottom: 1px;
  }
  50% {
    margin-bottom: 2px;
  }
  100% {
    margin-top: 4px;
  }
}
