* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}
::selection {
  background-color: rgb(9, 199, 104) !important;
  color: #fff !important ;
}

body::-webkit-scrollbar {
  display: none;
}
